*{
    margin: 0;
    padding: 0;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 0 16px 0;
}

.header-container button{
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
}

.header-container ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.header-container ul, a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.banner-section{
    border: 1px solid red;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 115.5px 120px 179.5px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.banner-section .early-access{
    color: #276941;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    border: none;
    padding: 8px 10px;
    max-width: 229px;
    margin: 0 auto;
}

.banner-section h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner-section h1 span{
    color: #30B868;
}

.banner-section p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner-section button{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}

.banner-section button + button{
    margin-left: 12px;
}

.banner-section .transparent-btn{
    background-color: transparent;
}

#section-1{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

#section-1 h1{
    padding-top: 40px;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

#section-1 p{
    margin-bottom: 44px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#section-1 .section-1-box{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

#section-1 .section-1-box .section-1-card{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.192);
    border-radius: 8px;
    padding: 65px 24px 0px;
}

#section-1 .section-1-box .section-1-card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
}

#section-1 .section-1-box .section-1-card h3{
    padding: 16px;
}

#section-2{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 120px;
}

#section-2 .p1{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

#section-2 h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

#section-2 .p2{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

#section-2 .p3{
    color: #001931;
    font-size: 16px;
    font-weight: 500;
}

#section-2 .p3 p{
    margin-bottom: 16px;
}

#section-3{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 0;
}

#section-3 .container-1 h1{
    color: #001931;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 16px;
}

#section-3 .container-1 p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 24px;
}

#section-3 .container-2 button{
    padding: 16.5px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.164);
    margin-bottom: 16px;

}

#section-3 .container-2 p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#footer-section{
    background-color: #001931;
    max-width: 1600px;
    margin: 120px auto;
    padding: 120px 120px 30px 120px;
}

#footer-section .logo-social{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto;
}

#footer-section .logo-social .social p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
    padding-right: 107px;
}

#footer-section .logo-social .social .social-icon{
    display: flex;
    gap: 16px;
}

#footer-section .cpy{
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 110px;
    padding-top: 30px;
    border-top: 1px solid #ffffff28;
}